{{#if admin}}
  <form class="pendingReviewers" id="pendingReviewers">  
  <h3>List of Users</h3>>
    <ul class="list-group">
    </ul>
  </form>
  
  <div>
	{{!-- add list of current users --}}
    <button class="editor" id="deleteUserBtn">Delete User</button>
  </div>

  {{/if}}