<section>
{{> tier-four-dashboard}}
</section>

<section>

</section>




{{if admin}}
<script src="../public/js/pending-reviewers.js"></script>
<script src="../public/js/toggle-reviewer-role.js"></script>
<script src="../public/js/delete-user.js"></script>
{{/if}}

{{#if reviewer}}
<script src="../public/js/toggle-reviewed.js"></script>
<script src='../public/js/.pending-papers.js'></script>
{{/if}}

{{#if loggedIn}}
<script src="./public/js/createNewPaper.js"></script>
{{/if}}