<div class="paper">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{paper.title}}</h2>
      <div>
        Submitted on {{format_date paper.date_published}}
      </div>
    </div>
    <div class="card-body">
      {{paper.author}} |
      {{paper.subject}} |
      File:
    </div>
  </article>