{{!-- <form class="pendingPapers" id="pendingPapers">  
  <h3>Papers to be reviewed</h3>>
  <ul class="pendingPapersList">
  </ul>
</form> --}}
<article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>Chemistry paper</h2>
    </div>
    <div class="card-body">
      <p>Author: John B. Goodenough |</p>
      <p>Subject: chemistry |</p>
      <p>File: </p>
      <input type="checkbox" class="reviewedCheckbox" id="reviewed" name="reviewed">
      <label for="reviewed">Mark as reviewed</label>
    </div>
</article>

<article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>Biology paper</h2>
    </div>
    <div class="card-body">
      <p>Author: Oliver Sacks |</p>
      <p>Subject: biology |</p>
      <p>File: </p>
      <input type="checkbox" class="reviewedCheckbox" id="reviewed" name="reviewed">
      <label for="reviewed">Mark as reviewed</label>
    </div>
</article>

{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     
        <p class="message">Article has been reviewed</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}

{{!-- <script src="/js/toggle-reviewed.js"></script>
<script src='/js/pending-papers.js'></script> --}}