<div class="users">
  <ul>
    {{#each users}}
    <li>{{fName}} {{lName}}</li>
    {{/each}}
  </ul>
</div>
  
{{!-- <form class="pendingReviewers" id="pendingReviewers">  
  <h3>List of Users</h3>>
    <ul class="pendingReviewersList">
    </ul>
</form> --}}

<script src="/js/pending-reviewers.js"></script>
<script src="/js/toggle-reviewer-role.js"></script>
{{!-- <script src="/js/delete-user.js"></script> --}}