<div>
  {{#if logged_in}}
  <!-- Insert true parameter here -->
  <form class="editor" id="deleteuserbtn"> List of Users </form>
  <div>
    {{#if logged_in}}
    <!-- Insert true parameter here -->
    <button class="editor" id="editorbtn"> Change to Editor </button>
    {{/if}}
  </div>

  <div>
    {{#if logged_in}}
    <!-- Insert true parameter here -->
    <button class="editor" id="deleteuserbtn"> Delete User </button>
    {{/if}}
  </div>

  {{/if}}

</div>

{{!-- <div>
  {{#if logged_in}}
  <!-- Insert true parameter here -->
  <button class="editor" id="deleteuserbtn"> Delete Post </button>
  {{/if}}
</div> --}}