<div>
  {{#if loggedIn}}
  <!-- Insert true parameter here -->
  <button class="verifybtn" id="verify"> Verify Paper</button>
  {{/if}}
</div>
<div>
  {{#if loggedIn}}
  <!-- Insert true parameter here -->
  <ul>
    <!-- Populate unverified papers -->
  </ul>
  {{/if}}
</div>