
        <div>
         {{#if user.reviewer}} <!-- Insert true parameter here -->
          <input type="checkbox" class="reviewedCheckbox" id="reviewed" name="reviewed">
  	      <label for="reviewed">Mark as reviewed</label>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     
                  <p class="message">Article has been reviewed</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>

  
  {{#if user.reviewer}}
  <script src:"./public/js/toggle-reviewed.js"></script>
  {{/if}}
