  {{#if admin}}
  <!-- Insert true parameter here -->
  <form class="pendingReviewers" id="pendingReviewers">  
  <h3>List of Users</h3>>
    <!-- Insert true parameter here -->
    <ul class="list-group">

    </ul>
  </form>
  
  <div>
    <!-- Insert true parameter here -->
    <button class="editor" id="deleteUserBtn">Delete User</button>
  </div>

  {{/if}}



{{if admin}}
<script src="../public/js/pending-reviewers.js"></script>
<script src="../public/js/toggle-reviewer-role.js"></script>
<script src="../public/js/delete-user.js"></script>
{{/if}}
