<div>
  {{#if loggedIn}}
  <!-- Insert true parameter here -->
  <form class="watchlist" id="watch"> Watchlist </form>

  

  {{/if}}
</div>

{{!-- get all papers according to user id
display update and delete btns on each paper --}}

{{!-- create new paper btn --}}

{{!-- watchlist sidebar --}}